@{
    Layout = "";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width,initial-scale=1" name="viewport">
    <meta content="description" name="Ameer Shaik">
    <meta name="keywords" content="Ameer Shaik, ameer shaik, shaik ameer, ameer shaik tenali, ameer basha shaik,Ameer Basha shaik" />
    <meta name="google" content="notranslate" />
    <meta content="about me" name="Ameer">
    <!-- Disable tap highlight on IE -->
    @*<link href="~/assets/icons8-favorite-64.png" rel="icon">*@

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/parsley.js/2.8.1/parsley.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/parsley.js/2.8.1/parsley.js"></script>
    <link rel="apple-touch-icon" sizes="180x180" href="~/assets/ameer001_8.png">
    <title>Ameer Shaik</title>
    <link href="~/main.d8e0d294.css" rel="stylesheet">
    <script src="~/scripts/Common.js"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
    </script>
    <!-- Google Tag Manager -->
    <script>
(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-PVXQ4HP');</script>
    <!-- End Google Tag Manager -->

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-242596653-1"></script>
    <script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-242596653-1');
    </script>

    <style>
        .parsley-errors-list li.parsley-required {
            color: red;
        }

        li.parsley-type {
            color: red;
        }
    </style>

    <script type="application/ld+json">
        {
        "@@context": "https://schema.org",
        "@@type": "About",
        "mainEntity": [
        {
        "@@type": "Question",
        "name": "What is your mobile number?",
        "acceptedAnswer": {
        "@@type": "Answer",
        "text": "9885331509"
        }
        }
        ,
        {
        "@@type": "Question",
        "name": "What is your emailId?",
        "acceptedAnswer": {
        "@@type": "Answer",
        "text": "ameershaik5124@gmail.com"
        }
        }
        ,

        {
        "@@type": "Question",
        "name": "Are you software developer?",
        "acceptedAnswer": {
        "@@type": "Answer",
        "text": "Yes,Over 4 Years experience in software development on web and stand alone applications with object oriented concepts, designing comprising of analysis, design, testing and implementation.Expertise in C#,ASP.net, MVC ,WCF,SQL Server, PHP, MySql ,Code Igniter (MVC Framework).Strong IT experience in development and implementation of web applications using ASP.Net MVC.Diversified experience with different domains and also in product development.Excellent team player and proven track record working in various team sizes.Full-stack developer, covering both the front-end and back-end."
        }
        }

        ]
        }
    </script>
</head>
<body class="">
    <!-- Google Tag Manager (noscript) -->
    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PVXQ4HP"
                height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->

    <!-- Add your content of header -->
    <div class="background-color-layer" style="background-image: url('assets/images/img_055.PNG')"></div>
    <main class="content-wrapper">
        <header class="white-text-container section-container">
            <div class="text-center">
                <h1>I am Ameer Shaik</h1>
                <p>Full stack developer</p>
                <p>
                    <a class="fa-icon fa-icon-2x" href="https://www.facebook.com/ameer.basha.750983" title="AmeerShaik" target="_blank">
                        <i class="fa fa-facebook"></i>
                    </a>
                    <a class="fa-icon fa-icon-2x" href="https://twitter.com/i_m_ameer9" title="AmeerShaik" target="_blank">
                        <i class="fa fa-twitter"></i>
                    </a>
                    <a class="fa-icon fa-icon-2x" href="https://www.linkedin.com/in/ameer-basha-shaik-52452a232/" title="AmeerShaik" target="_blank">
                        <i class="fa fa-linkedin"></i>
                    </a>
                </p>
            </div>
        </header>

        <!-- Add your site or app content here -->

        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="card">
                        <div class="card-block">
                            <h2>About me</h2>
                            <div class="row">
                                <div class="col-md-4">
                                    <p><img src="~/assets/images/Ameer_9885.PNG" class="img-responsive" alt="ameer"></p>
                                </div>
                                <div class="col-md-8">
                                    <p>I am a software developer with enthusiasm and experience in developing software systems. I have experience of leading, organizing, and successfully accomplishing software projects with a rich set of features and functionality. In particular, I have been successful in bending abstract system requirements into real software solutions having high security and performance.</p>
                                    <p>
                                        I have <b>4 years</b>  of experience at <b>Dharani Info Technologies Pvt. Ltd.</b>, Guntur as a senior . Net Developer. Here I am responsible for programming our proprietary software products to implement new features and support current applications. Additional responsibilities include being part of a collaborative team that produces a quality product for our clients.
                                    </p>
                                    <p>Perform problem analysis, solution determination, code design and development, integration, test, modification, documentation and provide software support to clients.</p>

                                    @*<p>I am proficient in ASP.NET MVC, ASP.NET, C#, OOPS,LINQ, ADO.NET & SQL Server(2019). I have a good Understanding of software development lifecycle. I have a Strong analytical and problem solving skills and excellent verbal and written communication skills with Proficient in MS Office Suite.</p>

                                    <p>I am a Self-starter with excellent interpersonal, motivational, and facilitation skills.</p>
                                    <p><b>Front End:</b> HTML, CSS, BOOSTRAP <BR /> <b>Script Language:</b> JAVASCRIPT, JQUERY, TYPESCRIPT</p>*@
                                </div>
                            </div>
                        </div>
                    </div>
                    @*<div class="card">
                        <div class="card-block">
                            <h2>Projects</h2>
                            <div class="row">
                                <div class="col-md-4">
                                    <img src="~/assets/images/DST_9.jpg" class="img-responsive" alt="">
                                    <h3 class="h5"><a href="https://www.drivesafetoday.com/" title="drivesafetoday website" target="_blank">DriveSafeToday</a></h3>
                                    <p>@DateTime.Now.ToString("yyyy")</p>
                                </div>
                                <div class="col-md-4">
                                    <img src="~/assets/images/DebtorCC.png" class="img-responsive" alt="">
                                    <h3 class="h5"><a href="https://www.debtorcc.com/" title="DebtorCC" target="_blank">DebtorCC</a></h3>
                                    <p>@DateTime.Now.ToString("yyyy")</p>
                                </div>
                                <div class="col-md-4">
                                    <img src="~/assets/images/DebtorEdu.png" class="img-responsive" alt="">
                                    <h3 class="h5"><a href="https://www.debtoredu.com/" title="DebtorEDU" target="_blank">DebtorEDU</a></h3>
                                    <p>@DateTime.Now.ToString("yyyy")</p>
                                </div>
                            </div>
                        </div>
                    </div>*@
                    @*<div class="card">
                        <div class="card-block">
                            <h2>Work</h2>
                            <div class="work-experience">
                                <h3 class="h5 date-title">DriveSafeToday - <a href="https://www.drivesafetoday.com/" title="drivesafetoday website" target="_blank">drivesafetoday.com</a></h3>
                                <p>DriveSafeToday is an online learning web application for learning Defensive Driving, which allows users to register for driving courses online. Users go through the course and during the course it will provide information on how to drive safely. After successful completion of the course, it will issue a certificate for the user through which the user can apply for a driving License.</p>
                            </div>
                            <div class="work-experience">
                                <h3 class="h5 date-title">DebtorCC - <a href="https://www.debtorcc.com/" title="DebtorCC" target="_blank">debtorcc.org</a></h3>

                                <p>A service for bankruptcy credit counselling course for bankruptcy filers, after completion of course a schedular will generate certificates from US Trustee.</p>
                                <p>Attorneys will help users to complete course.</p>
                                <ul>
                                    <li>Developed background bots to generate certificates from US Trustee web site</li>
                                    <li>Developed and provided ASMX services for Jquery frontend and mobile apps.</li>
                                    <li>Migrated application to responsive view using html, css, bootstrap and api services.</li>
                                </ul>
                            </div>
                            <div class="work-experience">
                                <h3 class="h5 date-title">DebtorEDU - <a href="https://www.debtoredu.com/" title="DebtorEDU" target="_blank">debtoredu.com</a></h3>
                                <p>A Debtor education course for post-bankruptcy filers. After completion of course users will get certificates from US Trustee through schedulers</p>
                                <ul>
                                    <li>Actively collaborated with client and team to deliver updates quickly with highest possible quality.</li>
                                    <li>Developed application using jQuery, ASP.Net webservices.</li>
                                </ul>
                            </div>
                        </div>
                    </div>*@
                    <div class="card">
                        <div class="card-block">
                            <h2>Programming Skills</h2>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="education-experience">
                                        <p class="date">C#</p>
                                        <p class="date">LINQ</p>
                                        <p class="date">ASP.NET MVC</p>
                                        <p class="date">ASP.NET</p>
                                        <p class="date">ASP.NET CORE </p>
                                        <p class="date">ADO.NET</p>
                                        <p class="date">WEB SERVICES</p>
                                        <p class="date">WEB API</p>
                                        <p class="date">SQL SERVER</p>
                                        <p class="date">HTML</p>
                                        <p class="date">CSS</p>
                                    </div>

                                </div>
                                <div class="col-md-4">
                                    <div class="education-experience">
                                       
                                        <p class="date">BOOTSTRAP</p>
                                        <p class="date">JAVA SCRPIT</p>
                                        <p class="date">JQUERY</p>
                                        <h4>ORM TOOLS</h4>
                                        <p class="date">ENTITY FRAMWORK</p>
                                        <p class="date">nHibernate</p>
                                        <h4>METHODOLOGIES</h4>
                                        <p class="date">Iterative waterfall Methodology</p>
                                        <h4>.NET TECHNOLOGIES</h4>
                                        <p class="date">.NET 4.7.2/4.7/4.5.2</p>
                                       
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="education-experience">
                                        <h4>DEVELOPMENT TOOLS</h4>
                                        <p class="date">Visual Studio 2019/2015/2013, SQL Server Management Studio</p>
                                        <h4>DATABASES</h4>
                                        <p class="date">SQL Server 2019/2016</p>
                                        <h4>OPERATING SYSTEMS</h4>
                                        <p class="date">Windows 10</p>
                                        <h4>ADDITIONAL SKILLS</h4>
                                        <p class="date">ANGULAR</p>
                                        <p class="date">TYPE SCRIPT</p>
                                       
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-block">
                            <h2>Education</h2>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="education-experience">
                                        <small class="date">2012-2016</small>
                                        <h3 class="h5 date-title">Bachelor of Technology</h3>
                                        <p>JNTU Kakinada</p>
                                    </div>

                                </div>
                                <div class="col-md-4">
                                    <div class="education-experience">
                                        <small class="date">2010-2012</small>
                                        <h3 class="h5 date-title">Intermediate</h3>
                                        <p>Sri Harsha Junior College</p>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="education-experience">
                                        <small class="date">2009-2010</small>
                                        <h3 class="h5 date-title">SSC Board</h3>
                                        <p>Sri Harsha Residential School</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-block">
                            <h2>Language</h2>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="language-experience">
                                        <h3 class="h5">English  <small>Fluent</small></h3>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="language-experience">
                                        <h3 class="h5">Hindi  <small>Fluent</small></h3>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="language-experience">
                                        <h3 class="h5">Telugu  <small>Fluent</small></h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    @*<div class="card">
                        <div class="card-block">
                            <h2>Projects</h2>
                            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">

                                <!-- Wrapper for slides -->
                                <div class="carousel-inner" role="listbox">
                                    <div class="item active">
                                        <img src="~/assets/images/Dst_big.png" class="img-responsive" alt="...">
                                        <div class="carousel-caption">
                                            <h3 class="h5"><a href="https://www.drivesafetoday.com/" title="drivesafetoday website" target="_blank">DriveSafeToday</a></h3>
                                            <p>@DateTime.Now.ToString("yyyy")</p>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <img src="~/assets/images/DebtorCC.png" class="img-responsive" alt="...">
                                        <div class="carousel-caption">
                                            <h3 class="h5"><a href="https://www.debtorcc.com/" title="DebtorCC" target="_blank">DebtorCC</a></h3>
                                            <p>@DateTime.Now.ToString("yyyy")</p>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <img src="~/assets/images/DebtorEdu.png" class="img-responsive" alt="...">
                                        <div class="carousel-caption">
                                            <h3 class="h5"><a href="https://www.debtoredu.com/" title="DebtorEDU" target="_blank">DebtorEDU</a></h3>
                                            <p>@DateTime.Now.ToString("yyyy")</p>
                                        </div>
                                    </div>
                                </div>
                                <!-- Indicators -->
                                <ol class="carousel-indicators">
                                    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                                    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                                    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                                </ol>
                            </div>
                        </div>
                    </div>*@

                    <div class="card">
                        <div class="card-block">
                            <h2>Content Details</h2>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="education-experience">
                                        <small class="date">Name</small>
                                        <h3 class="h5 date-title">Ameer Shaik</h3>
                                    </div>

                                </div>
                                <div class="col-md-4">
                                    <div class="education-experience">
                                        <small class="date">Mobile & WhatsApp</small>
                                        <h3 class="h5 date-title"><a href="tel:9885331509">(988) 533-1509</a></h3>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="education-experience">
                                        <small class="date">Email</small>
                                        <h3 class="h5 date-title"><a href="mailto:ameershaik5124@gmail.com">ameershaik5124@gmail.com</a></h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-block">
                            <h2>Social Network</h2>
                            <div class="row">
                                <div class="col-md-3">
                                    <p class="social-buttons"><a href="https://twitter.com/i_m_ameer9" title="AmeerShaik" target="_blank"><span class="social-round-icon fa-icon"><i class="fa fa-twitter"></i></span>Twitter</a></p>
                                </div>
                                <div class="col-md-3">
                                    <p class="social-buttons"><a href="https://www.linkedin.com/in/ameer-basha-shaik-52452a232/" title="AmeerShaik" target="_blank"><span class="social-round-icon fa-icon"><i class="fa fa-linkedin"></i></span>Linkedin</a></p>
                                </div>
                                <div class="col-md-3">
                                    <p class="social-buttons"><a href="http://ameershaik.somee.com/" title="AmeerShaik" target="_blank"><span class="social-round-icon fa-icon"><i class="fa fa-dribbble"></i></span>Ameer Shaik</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-block">
                            <h2>Contact</h2>
                            <form id="f1" class="reveal-content">
                                <div class="form-group">
                                    <input type="email" class="form-control parsley-errors-list" id="email" placeholder="Email" data-parsley-required="true" data-parsley-required-message="Required" data-parsley-type="email" data-parsley-type-message="enter valid email">
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control parsley-errors-list" id="subject" placeholder="Subject" data-parsley-required="true" data-parsley-required-message="Required">
                                </div>
                                <div class="form-group">
                                    <textarea class="form-control  parsley-errors-list" id="body_email" rows="5" placeholder="Enter your message" data-parsley-required="true" data-parsley-required-message="Required"></textarea>
                                </div>
                                <div class="form-group">
                                    <input type="submit" id="submit_form" class="btn btn-primary" value="Send message" onclick="Submit_click()">
                                    <span id="mes_email"></span>
                                </div>
                            </form>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </main>
    <footer class="footer-container white-text-container text-center">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    @*<p><img src="~/assets/icons8-a-100.png" alt="ameer_logo" style="width: 37px;height: 37px;"></p>*@

                    <p>©All right reserved @DateTime.Now.ToString("yyyy"). designed by<a href="http://ameershaik.somee.com/" title="Create my website" target="_blank">Ameer</a></p>
                    <p>
                        <a class="fa-icon fa-icon-2x" href="https://www.facebook.com/ameer.basha.750983" title="AmeerShaik" target="_blank">
                            <i class="fa fa-facebook"></i>
                        </a>
                        <a class="fa-icon fa-icon-2x" href="https://twitter.com/i_m_ameer9" title="AmeerShaik" target="_blank">
                            <i class="fa fa-twitter"></i>
                        </a>
                        <a class="fa-icon fa-icon-2x" href="https://www.instagram.com/i_ameer_/" title="AmeerShaik" target="_blank">
                            <i class="fa fa-instagram"></i>
                        </a>
                        <a class="fa-icon fa-icon-2x" href="https://www.linkedin.com/in/ameer-basha-shaik-52452a232/" title="AmeerShaik" target="_blank">
                            <i class="fa fa-linkedin"></i>
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </footer>
    <script>
        document.addEventListener("DOMContentLoaded", function (event) {
            scrollRevelation('.card');
        });
    </script>
    <script type="text/javascript" src="~/main.bc58148c.js"></script>
</body>
</html>